body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
  background-image: linear-gradient(to bottom, #fddb92 0%, #d1fdff 100%);
  background-blend-mode: multiply, multiply;
}

.feedBox {
    background: rgba(248, 246, 246, 0.7);
    padding: 50px;
    border-radius: 10px;
    height: max-content;
    margin: 20px;
    border-color: #000000;
    border-width: 10;
    display: flexbox;
    overflow-wrap: normal;
  }

  .feedBoxSwell {
    transition: margin 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }


  .feedBoxSwell:hover {
    margin: 10px;
    opacity: 0.9;
    transition: margin 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  .feedbox h1 {
    padding-bottom: 2px;
    padding-left: 20px;
    margin-left: 10px;
  }

  .feedBox p {
    margin-top: 0;
    font-size: 16px;
    font-weight: 550;
    padding-bottom: 2px;
    padding-left: 20px;
  }

hr.solid {
  border-top: 3px solid #bbb;
}