
.feedBox {
    background: rgba(163, 161, 168, 0.2);
    padding: 50px;
    border-radius: 10px;
    height: max-content;
    margin: 20px;
    border-color: #000000;
    border-width: 10;
    display: flexbox;
    overflow-wrap: normal;
  }

  .feedBoxSwell{
    transition: transform 1s ease-in-out;
  }

  @keyframes bounce{
    0%, 100%{transform: translateY(0);}
    50% {transform: translateY(-10px);}
  }

  .feedBoxSwell:hover {
    animation: bounce 1s 1;
  }


  
  .feedbox h1 {
    padding-bottom: 2px;
    padding-left: 20px;
    margin-left: 10px;
  }

  .feedBox p {
    margin-top: 0;
    font-size: 16px;
    font-weight: 550;
    padding-bottom: 2px;
    padding-left: 20px;
  }

hr.solid {
  border-top: 3px solid #bbb;
}

.input{
  background: rgba(163, 161, 168, 0.2);
  border-radius: 10px;
}

body.default{
  background: linear-gradient(to right bottom, #1d1e1f, #072d4c, #00387a, #2d3ca4, #742dc2);
  background-repeat: no-repeat;
  height: 110vh;
}

body.sunny{
  background: linear-gradient(to bottom, #fddb92 0%, #d1fdff 100%);

}

body.cloudy{
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}



body.partlyCloudy{
  background: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
}


body.stormy{
  background: linear-gradient(to top, #a3bded 0%, #6991c7 100%);

}



body.snow{
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

body.mostlyCloudy{
  background: linear-gradient(to top, #a3bded 0%, #6991c7 100%);

}


.weatherIcon{
  height: 50px; 
  width: 50px;
}
.flash-box {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}
.danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}
.warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.rightbox {
  width: 50vw; /* You can set a fixed width or a percentage */
  background-color: white;
  padding: 20px; /* Optional: Padding for the right side content */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow to the right box */
  overflow-y: auto; /* Optional: Allows scrolling if content overflows */
  border-radius: 20px;
  height: 100vh;
  position: fixed; /* Fix the box to the right side */
  top: 0;
  right: 0;
}

.leftcontent {
  width: 50vw; /* You can set a fixed width or a percentage */
  background-color: white;
  padding: 20px; /* Optional: Padding for the right side content */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow to the right box */
  overflow-y: auto; /* Optional: Allows scrolling if content overflows */
  border-radius: 20px;
  height: 100vh;
  position: fixed; /* Fix the box to the right side */
  top: 0;
  left: 0;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 450px;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: rgb(234, 234, 234);
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
}


input[type="submit"]{
  width: 450px;
  
}
