.feedBox {
    background: rgba(163, 161, 168, 0.2);
    padding: 50px;
    border-radius: 10px;
    height: max-content;
    margin: 20px;
    border-color: #000000;
    border-width: 10;
    display: flexbox;
    overflow-wrap: normal;
  }

  .feedBoxSwell {
    transition: margin 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }


  .feedBoxSwell:hover {
    margin: 10px;
    opacity: 0.9;
    transition: margin 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  .feedbox h1 {
    padding-bottom: 2px;
    padding-left: 20px;
    margin-left: 10px;
  }

  .feedBox p {
    margin-top: 0;
    font-size: 16px;
    font-weight: 550;
    padding-bottom: 2px;
    padding-left: 20px;
  }

hr.solid {
  border-top: 3px solid #bbb;
}

.input{
  background: rgba(163, 161, 168, 0.2);
  border-radius: 10px;
}

#default{
  background-image: linear-gradient(to bottom, #fddb92 0%, #d1fdff 100%);
  background-blend-mode: multiply, multiply;
  margin: 0;
  padding: 0;
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
}

#sunny{
  background-image: linear-gradient(to bottom, #fddb92 0%, #d1fdff 100%);
  background-blend-mode: multiply, multiply;
  margin: 0;
  padding: 0;
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
}

#cloudy{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-blend-mode: multiply, multiply;
  margin: 0;
  padding: 0;
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
}



#partlyCloudy{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-blend-mode: multiply, multiply;
  margin: 0;
  padding: 0;
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
}


#stormy{
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  background-blend-mode: multiply, multiply;
  margin: 0;
  padding: 0;
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
}



#snowy{
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-blend-mode: multiply, multiply;
  margin: 0;
  padding: 0;
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
}