{%extends 'index.html'%}
{%block content%}
<div class="container feedBox feedBoxSwell">
    <h1 class="mt-5 text-white">Weather App</h1>
    <form id="weatherForm" class="mt-3" method="POST" action="/get_weather">
        <div class="form-group">
            <label for="location">Enter a city name:</label>
            <input type="text" class="form-control" id="location" name="location" required>
        </div>
        <button type="submit" class="btn btn-primary">Get Weather</button>
    </form>
    <div id="weatherResult" class="mt-5">
        {% if weather %}
            <h2>Weather in {{ weather.address. }}:</h2>
            <p><strong>Temperature:</strong> {{ weather.temperature }} °C</p>
            <p><strong>Humidity:</strong> {{ weather.humidity }} %</p>
            <p><strong>Wind Speed:</strong> {{ weather.wind_speed }} m/s</p>
            <p><strong>Weather Code:</strong> {{ weather.weather_code }}</p>
        {% endif %}
        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% endif %}
    </div>
</div>

{%endblock content%}