<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<body id="default">
    <div class="container">
        <header class="text-white">
            <nav class="navbar navbar-expand-lg navbar-light font-weight-bold" style="padding: 10px; width: 100%;">
                <div class="container-fluid">
                    <form id="weatherForm" class="mt-3" method="POST" action="/get_weather">
                        <div class="form-group">
                            <label for="location">Location:</label>
                            <input type="text" class="form-control" id="location" name="location" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Get Weather</button>
                    </form>
                </div>
            </nav>
        </header>
    </div>
    <div class="container pt-5">
        {%block content%}
        {%endblock content%}
    </div>
</body>
</html>