{%extends 'index.html'%}
{%block content%}
<div class="container feedBox feedBoxSwell justify-content-center align-items-center">
    <div class="row">
        <div class="col">
            <h1>Register</h1>
            <button style="width: 250px;"><a href="{{url_for('login')}}">Already have an account?</a></button>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                </div>
                <div>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}<br>
                </div>
                <div>
                    {{form.location.label}}<br>
                    {{form.location(size=32)}}<br>
                </div>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                </div>
                <div>
                    {{ form.confirm_password.label }}<br>
                    {{ form.confirm_password(size=32) }}<br>
                </div>
                <div>
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock content%}